.distance {
    &__content {
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__checkbox {
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        p {
            margin-left: 10px;
        }
    }
    &__span {
        font-weight: 700;
    }
}

@media screen and (max-width: 414px) {
    .distance {
        &__checkbox {
            margin-bottom: 16px;
        }
        &__p {
            max-width: 212px;
        }
    }
}