.header {
    &__content {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__p {
        max-width: 414px;
        @include font(16px, 400);
    }
    &__links {
        a {
            @include font(16px, 400);
            color: black;
            border-bottom: 1px solid grey;
            margin-right: 24px;
            &.active {
                @include font(16px, 700);
                color: black;
                margin-right: 24px;
                border-bottom: none;
            }
        }
    }
}

.dark__line {
    background-color: black;
    height: 1px;
    margin-top: 25px;
}

@media screen and (max-width: 414px) {
    .header {
        &__title {
            @include font(24px, 400);
        }
        &__p {
            max-width: 288px;
            margin-bottom: 20px;
        }
    }
}
