body {
    font-family: 'Helvetica';
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
a {
	margin: 0;
	padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

img {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	background: transparent;
	outline: none;
	border: none;
}